body {
	font-family: 'Montserrat', sans-serif;
}

.nav-arrows {
	background: #000;
	position: fixed;
	bottom: 30px;
	right: 0;
	z-index: 99;
	width: 64px;
	cursor: pointer;
}

header, footer {
	background: #000;
	color: #fff;
	overflow: hidden;
}

.description {
	overflow: hidden;
	background: #000;
	color: #fff;
}

.description h3 {
	padding-top: 35px;
}

.description h4 {
	margin: 0;
}

.separator {
	padding: 0 40px;
	background: #000;
	clear: both;
}
.white-line {
	background: white;
	height: 10px;
}

header h1 {
	letter-spacing: -1px;
}

header .about,
header .contact {
	display: none;
}

header #home {
	cursor: pointer;
}

a {
	color: #fff;
}

header li a {
	text-decoration: none;
}

ul.social {
	padding: 0;
}

.social li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
}

.social li img {
	width: 30px;
}

a.selected {
	text-decoration: underline;
}

.wrapper {
	padding: 20px;
	overflow: hidden;
}

footer {
	position: relative;
}

section {
	position: relative;
}

.image img {
    width: 100%;
    display: block;
}

/* GRID */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
	padding: 0px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

/* Grid */

.col-1-1 {
	width: 100%;
}

.col-3-4 {
	width: 75%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-3-5 {
	width: 65%;
	padding-right: 80px;
}

.col-2-5 {
	width: 35%;
	padding-right: 40px;
}


@media handheld, only screen and (max-width: 700px)  {

	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}

	body {
		padding: 0px;
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0px;
		padding-right: 0px;
	}

	.hidden-mobile {
	    display: none !important;
	}

	.col-2-5 h3 {
		padding: 0;
		margin-top: -15px;
	}

	.separator {
		padding: 0 20px;
	}

	footer h6 {
		clear: both;
    	padding-top: 20px;
	}

}

@media handheld, only screen and (min-width: 700px)  {

	footer {
		min-height: 250px;
	}

	.wrapper {
		padding: 40px;
	}

	.nav {
		display: block;
		position: absolute;
		right: 30px;
		top: 30px;
	}

	.nav li {
		list-style-type: none;
		float: left;
		padding-right: 20px;
	}

	footer .social {
		float: right;
		top: 30px;
		right: 30px;
		position: absolute;
	}
}

/* text size */
@media handheld, only screen and (min-width: 700px)  {
	h2 {
		line-height: 30px;
	}
}

@media screen and (min-width: 701px) and (max-width: 900px) {
	p {
		line-height: 24px;
	}
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
	h1 {
		font-size: 34px;
	}

	h3 {
		font-size: 22px;
		line-height: 32px;
	}

	h4 {
		font-size: 18px;
		line-height: 28px;
	}

	h2 {
		font-size: 30px;
	}

	p {
		font-size: 22px;
		line-height: 30px;
	}
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
	h1 {
		font-size: 36px;
	}

	h3 {
		font-size: 24px;
		line-height: 34px;
	}

	h4 {
		font-size: 20px;
		line-height: 30px;
	}

	h2 {
		font-size: 32px;
	}

	p {
		font-size: 24px;
		line-height: 32px;
	}
}

@media screen and (min-width: 1301px) {
	h1 {
		font-size: 38px;
	}

	h3 {
		font-size: 26px;
		line-height: 36px;
	}

	h4 {
		font-size: 20px;
		line-height: 30px;
	}

	h2 {
		font-size: 34px;
	}

	p {
		font-size: 26px;
		line-height: 36px;
	}
}